body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("BCCI.jpg");
    background-size: cover;        /* makes image fill page */
    background-repeat: no-repeat; /* prevents tiling */
    background-position: center;  /* center image */
    background-attachment: fixed; /* optional: parallax effect */

    color: #222;
    text-align: center;

    header {
        
     padding: 20px;
        font-size: 28px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
    }

    .intro {
        padding: 20px;
        max-width: 800px;
        margin: auto;
        font-size: 15px;
        line-height: 1.6;
        color:black;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 40px;
    }

    .box {
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
      
		
    }

    .box img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
		
    
	
	}

    .box h3 {
        margin: 10px 0 5px;
        color: #111;
    }

    .box p {
        font-size: 14px;
        padding: 0 10px 15px;
        color: #555;
    }

    footer{
        background:#f5f5f5;
        padding:15px;
        font-size:12px;
        border-top:1px solid #ddd;
        color:#777;
		
		}
		nav{
        background:#f5f5f5;
        padding:15px;
        font-size:12px;
        border-top:1px solid #ddd;
        color:#777;
    }
